$font--primary: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font--secondary: 'Roboto', sans-serif !default;
$background--primary: #00a7c8;
$background--secondary: #eef3f7;
$color: #222222;